@model IEnumerable<EventEase.Models.Event>
@{
    ViewData["Title"] = "Index";
}

<div class="venue-index-container">
    <div class="text-center mb-4">
        <h1 class="display-4">ALL Events</h1>
    </div>

    <p>
        <a asp-action="Create" class="btn btn-success">Create New</a>
    </p>

    <div class="table-responsive">
        <table class="table table-hover table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>@Html.DisplayNameFor(model => model.EventName)</th>
                    <th>@Html.DisplayNameFor(model => model.EventImg)</th>
                   
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.EventName)</td>
                        <td>@Html.DisplayFor(modelItem => item.EventImg)</td>
                       
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.EventId" class="btn btn-sm btn-primary">Edit</a>
                            <a asp-action="Details" asp-route-id="@item.EventId" class="btn btn-sm btn-info">Details</a>
                            <a asp-action="Delete" asp-route-id="@item.EventId" class="btn btn-sm btn-danger">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>